<!DOCTYPE html>
<html>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Тип дисплея</td>
      <td>{{ product.display_type }}</td>
    </tr>
    <tr>
      <td>Разрешение экрана</td>
      <td>{{ product.resolution }}</td>
    </tr>
    <tr>
      <td>Объём батареи</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
    <tr>
      <td>Оперативная память</td>
      <td>{{ product.ram }}</td>
    </tr>
    <tr>
      <td>Слот для SD карты</td>
      {% if product.sd == True %}
        <td>Есть</td>
      {% else %}
        <td>Нет</td>
      {% endif %}
    </tr>
    <tr>
      <td>Максимальный объём встраивамой памяти</td>
      <td>{{ product.sd_volume }}</td>
    </tr>
    <tr>
      <td>Главная камера</td>
      <td>{{ product.main_cam_mp }}</td>
    </tr>
    <tr>
      <td>Фронтальная камера</td>
      <td>{{ product.frontal_cam_mp }}</td>
    </tr>
  </tbody>
</table>
</body>
</html>